html{
    overflow: hidden;
}
ul{
    list-style: none;
}
body{
    overflow: auto;
}
.cls_copyright{
    color:#007c83;
}
.cls_news_area{
    width:85%;
    height:auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.cls_content_flex{
    display: flex;
}
.cls_title_content{
    width:100%;
    background-color:#848484;
    text-align: center;
}
.cls_release_date{
    width:100%;
    padding-left:1rem;
}
.cls_title_content h3{
    padding-left:1rem;
    padding-top:1rem;
    padding-bottom:1rem;
    font-size:18px;
    color:#FFF;
}


.cls_content_info{
    position:relative;
    width:30%;
    z-index: 9999;
}
.left_info{
    padding: 2rem 0 2rem 2rem;
}
.right_info{
    padding: 2rem 2rem 2rem 0;
}
.cls_content_image{
    position:relative;
    text-align: center;
    /*padding: 1rem 1rem 1rem 1rem;*/
    width:70%;
}
.cls_content_image img{
/*
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top:5rem;
    margin-left: 2rem;
*/
    width: 80%;
}

th{
    font-size:1.1em;
    width:200px;
    border-color:#DCDCDC;
    border-radius: 5px;
    border:solid 0.5px;
    padding:1.2em 1.2em 1.2em 1.2em ;
    text-shadow:3px 3px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.5);
}
td{
    font-size:1.1em;
    width:400px;
    border-radius: 5px;
    border-color:#dcdcdc;
    border:solid 0.5px;
    padding:1.2em 1.2em 1.2em 1.2em ;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.5);
}
/*　ハンバーガーメニューボタン　*/
.hamburger {
/*          display : block;*/
  position: fixed;
  z-index : 3;
  right : 20px;
  top   : 10px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 4px ;
  left    : 6px;
  background : #007c83;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* スマホメニューを開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#007c83;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#007c83;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

/* メニュー背景　*/
nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #fff;
    background: rgba( 232,232,232 );
/*          background: rgba( 71,70,73,0.6 );*/
    background-image: url("../images/SVG/m_back.svg");
    background-size: 20%;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    height:100vh;
    transform: translateX(-100%);
    transition: all 0.6s;
}

nav.globalMenuSp ul {
  margin: 40 auto;
  padding: 0;
  width: 100%;
}
nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  padding-right: 20px;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :rgba(221,221,221,0.8);
}

nav.globalMenuSp ul li a {
  display: block;
  padding-right: 10px;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}

/* クリックでjQueryで追加・削除 */
nav.globalMenuSp.active {
  opacity: 100;
  display: block;
   transform: translateX(0%);
}


/*スマートフォン*/
@media screen and (max-width:767px) {
    .mobile_header{
        display: block;
    }
    /*トップページ中央ロゴマーク*/
    .top_logo_mark{
        display: none;
    }
    /*トップページ中央テキストOpenInovation*/
    .top_oi_text{
        margin-top: 50vh;
    }
    /*ハンバーガーバー*/
    .hamburger{
        display: block;
    }
    /*左ナビゲーションエリア*/
    .flex-item1{
        display:none;
    }
    /*右コンテンツエリア*/
    .flex-item2{
        width:100vw;
    }
    /*トップロゴマーク*/
    .top_logo{
        width:30%;
        min-width: 50px;
/*        padding: 2em 1em 2em 1em;*/
    }
    /*フレックスコンテナーエリア*/
    .flex_contenar{
        display:flex;
        background-color: rgb(232, 232, 232);
    }
    /*左コンテンツエリア*/
    .flex-item2{
        border:solid 1px;
        overflow-y: scroll;
        overflow-x:hidden;
        position: relative;
        z-index: 0;
        border-left:solid 1px #cdcdcd;
        height:80vh;
        width:100%;
        background-image:url("../images/m_top_back.jpg");
        background-position: left 30% top;
        background-size: cover;
        background-attachment:fixed;
        background-repeat: no-repeat;
    /*                opacity: 0.3;*/
    }

        .flex-item2_2{
            overflow-y: scroll;
            overflow-x: hidden;

            position: relative;

            z-index: 1;
            border-left:solid 1px #cdcdcd;
            height:80vh;
            width:100vw;
            paddint-top:20px;
            background-image: url("../images/top_main_image.jpg");
            background-size: cover;
            background-color: rgba(255,255,255,0.7);
            background-attachment: fixed;
            background-position: right top;
            background-repeat: no-repeat;
            background-blend-mode: lighten;
        }

        .cls_content_area{
            background-image: url("../images/SVG/svg-bg.svg");
            width:100%;
            position: relative;
            height:auto;
            z-index: 999;
        }
        .cls_content_area_nobk{
            width:100%;
            position: relative;
            height:100vh;
            z-index: 999;

        }
        .cls_content_area2{
            padding-top:-500px;
            width:100%;
            height:inherit;
            position: relative;
            z-index: 999;
        }
/*
        .top_logo{
            width:80%;
            padding: 1em 0.5em 1em 0.5em;
        }
*/
        .nav_list{
            padding: 20px 0px;
            text-align: left;
        }
        .nav_list li{
            padding: 10px 0px;
        }
        .top_logo_mark{
            width: 40%;
            padding-top:40vh;
            /*
            padding-left:35vw;
            padding-bottom: 5px;
            */
            animation: fadeIn 3s ease 0s 1 normal;
            -webkit-animation: fadeIn 3s ease 0s 1 normal;
        }
        .open_innovation_image{
            display: none;
        }
        .open_innovation_image_mobile{
            text-align: center;
            height: 100vh;
        }
        .mobile_top_menu_area{
            display: block;
            background-color: #FFFFFF;
            padding:10px;
            margin-bottom: 0;
        }
        .mobile_top_menu_size{
            width: 65vw;
        }
        .top_oi_text{
            width: 40%;
            padding-top:8vh;
            padding-bottom:8vh;

            animation: fadeup 2s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
        /*
            padding-top:20px;
            padding-left:34vw;
        */

        }
        .top_oi_text_mobile{
            width: 40%;
            padding-top:40vh;

            animation: fadeup 2s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
        /*
            padding-top:20px;
            padding-left:34vw;
        */

        }
        .cls_box_menu{
            padding-left:1.2em;
            height:4em;
        }
        .box{
            height:3em;
        }
        h1 .cls_title1{
            position: relative;
            z-index: 999;
            padding-left:4rem;
            padding-top:2rem;
            width:100%;
            height: 5em;
            font-size: 1.3em;
            background-image: url("../images/SVG/title_back.svg");
            background-position: 3vw 2rem;
            background-size: 70%;
            background-repeat: no-repeat;

        }
        .cls_title1{
            position: relative;
            z-index: 999;
            padding-left:4rem;
            padding-top:2rem;
            width:100%;
            height: 5em;
            font-size: 1.3em;
            background-image: url("../images/SVG/title_back.svg");
            background-position: 3vw 2rem;
            background-size: 70%;
            background-repeat: no-repeat;
        }
        .cls_title2{
            padding-left:1rem;
            padding-top:0.1rem;
            width:100%;
            height: 5em;
            font-size: 1.3em;
            position: relative;
            z-index: 9999;
            background-image: url("../images/SVG/title_back2.svg");
            background-position: 3vw 0.1rem;
            background-size: 90%;
            mix-blend-mode: difference;
            background-repeat: no-repeat;
            text-shadow:3px 3px 5px rgba(0, 0, 0, 0.3);
        }
        h2 .cls_title_text{
            width:80%;
            font-size:1.3em;
            color:#FFF;
            padding-left:150px;
            position: relative;
            padding: 1rem 2rem calc(1rem + 10px);
            background: #007c83;
            text-shadow:3px 3px 5px rgba(0, 0, 0, 0.3);

        }
        .cls_title_text{
            width:80%;
            font-size:1.3em;
            color:#FFF;
            padding-left:150px;
            position: relative;
            padding: 1rem 2rem calc(1rem + 10px);
            background: #007c83;
            text-shadow:3px 3px 5px rgba(0, 0, 0, 0.3);
        }

        .cls_title_text:before {
          position: absolute;
          top: -0.6rem;
          left: -0.6rem;
          width: 98%;
          height: 100%;
          content: '';
          border: 2px solid #000;
        }

        .cls_content_text{
            width:100%;
            font-size:1.1em;
            padding-left:0px;
            margin-bottom: :5rem;
            overflow-x: hidden;
        }
        .white_mode{
        }
        .cls_content{
            width:90%;
            height: fit-content;
            margin-top: -2rem;
            padding-left:1rem;
            padding-top:1vh;
            padding-bottom: 5rem;
            position: relative;
            z-index: 2;
            line-height: 2em;
        }
        .cls_news_img{
            height:300px;
        }
        .cls_fade_up_outline{
            position: relative;
            z-index: 1;
            opacity:0;
            animation: text_fadeup;
            animation-duration: 3s;
            animation-fill-mode: forwards;
        }
        .cls_logo_fadeup{
            margin-top: -6rem;
            width:20rem;
            padding-left:2rem;
            padding-bottom:100px;
            animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
        }
        .cls_copyright{
            background-color: rgba(255,255,255,0.8);
            margin-top:-2vh;
            display:none;
        }
        .cls_copyright_mobile{
            background-color: rgba(255,255,255,0.8);
            width:80vw;
            bottom:10px;
            font-size: 0.8em;
            padding-left:1rem;
        }
        .cls_table{
            margin-top:-3rem;
            padding-left: 1rem;
            padding-bottom:2rem;
        }
        th{
            width:5rem;
        }
        td{
            width:15rem;
        }
        .cls_content_flex{
            display: flex;
            flex-direction:column;
            width:100%;
            height:auto;
            padding-top: 0;
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.5);
        }
        .cls_title_content{
            font-size: 2em;
            padding:0;

        }
        .cls_content_info{
            position:relative;
            width:80%;
            padding:2rem;
            z-index: 9999;
            order:2;
        }
        .cls_content_image{
            position:relative;
            /*padding: 1rem 1rem 1rem 1rem;*/
            width:100%;
            order:1;
        }
        .cls_content_image img{
        /*
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        */
            padding-top:5rem;
            margin-left: 0;
            width: 80%;
        }

        .cls_news_area{
            width:100%;
        }
        .cls_title_content h3{
            padding-left:1px;
            padding-top:1px;
            padding-bottom:1px;
            font-size:15px;
            color:#FFF;
        }

        /* 画面外 */
        .fade-block {
          transform: translateY(100px);
          transition: all .5s ease-in;
        }

        /* 画面に入った時の動き */
        .fade-block.blockIn {
          transform: translateY(0);
        }
}
/*タブレット*/
@media screen and (min-width:768px) and ( max-width:1024px) {
    .mobile_header{
        display: none;
    }
    .hamburger{
        display: none;
    }
    .flex_contenar{
        display:flex;
        background-color: rgb(232, 232, 232);

    }
    .flex-item1{
        width:20vw;
    }
    .flex-item2{
        border:solid 1px;
        overflow-y: scroll;
        overflow-x:hidden;
        position: relative;
        z-index: 0;
        border-left:solid 1px #cdcdcd;
        height:100vh;
        width:80vw;
        background-image: url("../images/top_main_image.jpg");
        background-size: cover;
        background-attachment:fixed;
        background-position: right top;
        background-repeat: no-repeat;
    }

    .flex-item2_2{
        overflow-y: scroll;
        overflow-x: hidden;

        position: relative;

        z-index: 1;
        border-left:solid 1px #cdcdcd;
        height:100vh;
        width:80vw;
        background-image: url("../images/top_main_image.jpg");
        background-size: cover;
        background-color: rgba(255,255,255,0.7);
        background-attachment: fixed;
        background-position: right top;
        background-repeat: no-repeat;
        background-blend-mode: lighten;
    }

    .cls_content_area{
        background-image: url("../images/SVG/svg-bg.svg");
        width:100%;
        position: relative;
        height:auto;
        z-index: 999;
    }
    .cls_content_area_nobk{
        width:100%;
        position: relative;
        height:100vh;
        z-index: 999;

    }
    .cls_content_area2{
        padding-top:-500px;
        width:100%;
        height:inherit;
        position: relative;
        z-index: 999;
    }
    .top_logo{
        width:80%;
        padding: 1em 0.5em 1em 0.5em;
    }
    .nav_list{
        padding: 20px 0px;
        text-align: left;
    }
    .nav_list li{
        padding: 10px 0px;
    }
    .top_logo_mark{
        width: 20%;
        padding-top:40vh;
        /*
        padding-left:35vw;
        padding-bottom: 5px;
        */
        animation: fadeIn 3s ease 0s 1 normal;
        -webkit-animation: fadeIn 3s ease 0s 1 normal;
    }
    .open_innovation_image{
        text-align: center;
    }
    .open_innovation_image_mobile{
        display: none;
    }
    .mobile_top_menu_area{
        display: none;
    }
    .top_oi_text{
        width: 30%;
        padding-top:8vh;

        animation: fadeup 2s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
    /*
        padding-top:20px;
        padding-left:34vw;
    */

    }
    .cls_box_menu{
        padding-left:1.2em;
        height:4em;
    }
    .box{
        height:3em;
    }
    .cls_title1{
        position: relative;
        z-index: 999;
        padding-left:8rem;
        padding-top:1rem;
        width:100%;
        height: 5em;
        font-size: 1.5em;
        background-image: url("../images/SVG/title_back.svg");
        background-position: 2vw top;
        background-size: 60%;
        background-repeat: no-repeat;
    }
    .cls_title2{
        padding-left:8rem;
        padding-top:1rem;
        width:100%;
        height: 5em;
        font-size: 1.5em;
        position: relative;
        z-index: 9999;
        background-image: url("../images/SVG/title_back2.svg");
        background-position: 8rem top;
        background-size: 60%;
        mix-blend-mode: difference;
        background-repeat: no-repeat;
        text-shadow:3px 3px 5px rgba(0, 0, 0, 0.3);
    }
    .cls_title_text{
        width:25rem;
        font-size:1.3em;
        color:#FFF;
        padding-left:150px;
        position: relative;
        padding: 1rem 2rem calc(1rem + 10px);
        background: #007c83;
        text-shadow:3px 3px 5px rgba(0, 0, 0, 0.3);
    }

    .cls_title_text:before {
      position: absolute;
      top: -0.6rem;
      left: -0.6rem;
      width: 28.8rem;
      height: 100%;
      content: '';
      border: 2px solid #000;
    }

    .cls_content_text{
        width:80%;
        font-size:1.1em;
        padding-left:0px;
        margin-bottom: :5rem;
        overflow-x: hidden;
    }
    .white_mode{
    }
    .cls_content{
        width:80%;
        height: auto;
        margin-top: -2rem;
        padding-left:8rem;
        padding-top:1vh;
        padding-bottom: 5rem;
        position: relative;
        z-index: 2;
        line-height: 2em;
    }
    .cls_news_img{
        height:300px;
    }
    .cls_fade_up_outline{
        position: relative;
        z-index: 1;
        opacity:0;
        animation: text_fadeup;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
    .cls_logo_fadeup{
        margin-top: -6rem;
        width:20rem;
        padding-left:8rem;
        padding-bottom:100px;
        animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
    }
    .cls_copyright{
        background-color: rgba(255,255,255,0.8);
        margin-top:-5vh;
        width:80vw;
/*        bottom:10px;*/
        font-size: 0.8em;
        padding-left:1rem;
    }
    .cls_table{
        margin-top:-3rem;
        padding-left: 8rem;
        padding-bottom:2rem;
    }
    th{
        width:8rem;
    }
    td{
        width:20rem;
    }

    .cls_content_flex{
        flex-direction:column;
    }
    .cls_content_info{
        width: 80%;
        order:2;
    }
    .cls_content_image{
        width: 80%;
        order:1;
    }
    .btn a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 10vh;
        color: #FFF;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
        transition: 0.3s;
    }
    .btn a:hover {
        color: #007c83;
    }
    .btn a {
        background-color: #848484;
        border: 1px solid transparent;
    }

    .btn_link a::after {
        content: '';
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 12px 12px;
        border-color: transparent transparent #FFF transparent;
    }

    .btn_link a:hover {
        background-color: #dcdcdc;
        border: 1px solid #333;
    }

    .btn_link a:hover::after {
        border-color: transparent transparent #007c83 transparent;
    }

}
/*PC*/
@media screen and (min-width:1024px) {
    .mobile_header{
        display: none;
    }
    .hamburger{
        display: none;
    }
    .flex_contenar{
        display:flex;
        background-color: rgb(232, 232, 232);

    }
    .flex-item1{
        height:100%;
        width:20%;
        background-color: rgba(232,232,232);
    }
    .flex-item2{
        overflow-y: scroll;
        overflow-x:hidden;
        position: relative;
        z-index: 0;
        border-left:solid 1px #cdcdcd;
        height:100vh;
        width:80%;
        background-image: url("../images/top_main_image.jpg");
        background-size: cover;
        background-attachment:fixed;
        background-position: left top;
        background-repeat: no-repeat;
    }

    .flex-item2_2{
        overflow-y: scroll;
        overflow-x: hidden;

        position: relative;

        z-index: 1;
        border-left:solid 1px #cdcdcd;
        height:100vh;
        width:80vw;
        background-image: url("../images/top_main_image.jpg");
        background-size: cover;
        background-color: rgb(232,232,232);
        background-color: rgba(255,255,255,0.7);
        background-attachment: fixed;
        background-position: left top;
        background-repeat: no-repeat;
        background-blend-mode: lighten;
    }

    .cls_content_area{
        background-image: url("../images/SVG/svg-bg.svg");
        width:100%;
        position: relative;
        height:auto;
        z-index: 999;
    }
    .cls_content_area_nobk{
        width:100%;
        position: relative;
        height:100vh;
        z-index: 999;

    }
    .cls_content_area2{
        padding-top:-500px;
        width:100%;
        height:inherit;
        position: relative;
        z-index: 999;
    }
    .top_logo{
        width:85%;
        padding: 2em 0.5em 2em 0.5em;
    }
    .nav_list{
        padding: 20px 0px;
        text-align: left;
    }
    .nav_list li{
        padding: 10px 0px;
    }
    .top_logo_mark{
        width: 13%;
        padding-top:40vh;
        /*
        padding-left:35vw;
        padding-bottom: 5px;
        */
        animation: fadeIn 3s ease 0s 1 normal;
        -webkit-animation: fadeIn 3s ease 0s 1 normal;
    }
    .open_innovation_image{
        text-align: center;
    }
    .open_innovation_image_mobile{
        display: none;
    }
    .mobile_top_menu_area{
        display: none;
    }
    .top_oi_text{
        width: 20%;
        padding-top:8vh;

        animation: fadeup 2s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
    /*
        padding-top:20px;
        padding-left:34vw;
    */

    }
    .cls_box_menu{
        padding-left:2em;
        height:4em;
    }
    .box{
        height:4em;
    }
    .cls_title1{
        position: relative;
        z-index: 999;
        padding-left:8rem;
        padding-top:40px;
        width:1200px;
        height: 5em;
        font-size: 1.5em;
        background-image: url("../images/SVG/title_back.svg");
        background-position: 2rem top;
        background-size: 60%;
        background-repeat: no-repeat;
    }
    .cls_title2{
        padding-left:150px;
        padding-top:40px;
        width:1200px;
        height: 5em;
        font-size: 1.5em;
        position: relative;
        z-index: 9999;
        background-image: url("../images/SVG/title_back2.svg");
        background-position: 150px top;
        background-size: 60%;
        mix-blend-mode: difference;
        background-repeat: no-repeat;
        text-shadow:3px 3px 5px rgba(0, 0, 0, 0.3);
    }
    .cls_title_text{
        width:80%;
        font-size:1.3em;
        color:#FFF;
        padding-left:150px;
        position: relative;
        padding: 1rem 2rem calc(1rem + 10px);
        background: #007c83;
        text-shadow:3px 3px 5px rgba(0, 0, 0, 0.3);
    }

    .cls_title_text:before {
      position: absolute;
      top: -10px;
      left: -7px;
      width: 99%;
      height: 100%;
      content: '';
      border: 2px solid #000;
    }

    .cls_content_text{
        width:80%;
        font-size:1.1em;
        padding-left:0px;
        margin-bottom: :5rem;
        overflow-x: hidden;
    }
    .white_mode{
    }
    .cls_content{
        height: auto;
        margin-top: -2rem;
        padding-left:8rem;
        padding-top:1vh;
        padding-bottom: 5rem;
        position: relative;
        z-index: 2;
        line-height: 2em;
    }
    .cls_news_img{
        height:300px;
    }
    .cls_fade_up_outline{
        position: relative;
        z-index: 1;
        opacity:0;
        animation: text_fadeup;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
    .cls_logo_fadeup{
        margin-top: -6rem;
        width:20rem;
        padding-left:8rem;
        padding-bottom:5rem;
        animation: fadeup 2s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
    }
    .cls_copyright{
        background-color: rgba(255,255,255,0.8);
        margin-top:-4vh;
        width:80vw;
/*        bottom:10px;*/
        font-size: 0.8em;
        padding-left:2rem;
    }
    .cls_table{
        margin-top:-3rem;
        padding-left: 8rem;
        padding-bottom:2rem;
    }
    th{
        width:12rem;
    }
    td{
        width:30rem;
    }
    .btn a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 10vh;
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        transition: 0.3s;
    }
    .btn a:hover {
        color: #007c83;
    }
    .btn a {
        background-color: #848484;
        border: 1px solid transparent;
    }

    .btn_link a::after {
        content: '';
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 12px 12px;
        border-color: transparent transparent #FFF transparent;
    }

    .btn_link a:hover {
        background-color: #dcdcdc;
        border: 1px solid #333;
    }

    .btn_link a:hover::after {
        border-color: transparent transparent #007c83 transparent;
    }


}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes fadeup {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes text_fadeup {
    0% {
     opacity: 0;
     transform: translateY(-50px);
    }
      50%{
        opacity: 1;
         transform: translateY(-30px);
      }
     100% {
     opacity:1;
     transform: translateY(-30px);
     }
}
