<header>
    <div class="mobile_header">
        <a href="./index.html">
            <image src="./images/SVG/jnoah_logo.svg" style="width:50%"/>
        </a>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="globalMenuSp">
            <ul>
                <li style="text-align:right;"><a href="./about.html" style="padding-right:30px;"><image src="./images/SVG/about_m.svg" style="width:180px;"/></a></li>
                <li style="text-align:right;"><a href="./news.html" style="padding-right:30px;"><image src="./images/SVG/News_m.svg" style="width:190px;"/></a></li>
                <li style="text-align:right;"><a href="./rd.html" style="padding-right:30px;"><image src="./images/SVG/rd_m.svg" style="width:130px;"/></a></li>
                <li style="text-align:right;"><a href="./pp.html" style="padding-right:30px;"><image src="./images/SVG/pp_m.svg" style="width:200px;"/></a></li>
            </ul>
        </nav>
    </div>
</header>
<script>
    $(function() {
        $('.hamburger').click(function() {
            $(this).toggleClass('active');
            if ($(this).hasClass('active')) {
                $('.globalMenuSp').addClass('active');
            } else {
                $('.globalMenuSp').removeClass('active');
            }
        });
    });
    //メニュー内を閉じておく
    $('.globalMenuSp a[href]').click(function() {
        $('.globalMenuSp').removeClass('active');
       $('.hamburger').removeClass('active');

    });
</script>
