<nav>
    <ul class="nav_list">
        <li>
            <a href="./about.html">
                <image src="./images/SVG/box_About_off.svg" class="box cls_box_menu"/>
            </a>
        </li>
        <li>
            <a href="./news.html">
                <image src="./images/SVG/box_News_off.svg" class="box cls_box_menu"/>
            </a>
        </li>
        <li>
            <a href="./rd.html">
                <image src="./images/SVG/box_rd_off.svg" class="box cls_box_menu"/>
            </a>
        </li>
        <li>
            <a href="./privacy_policy.html">
                <image src="./images/SVG/box_PP_off.svg" class="box cls_box_menu" />
            </a>
        </li>

    </ul>
    <script>
        $('.box').each(function() {
            let img_off = $(this).attr('src');
            let img_on = $(this).attr('src').replace('off', 'on');

              $(this).hover(
                function () {
                  $(this).attr('src', img_on);
                },
                function () {
                  $(this).attr('src', img_off);
                }
              );

          });
    </script>

</nav>
